Repository Selleo/til, pull requests merged in 2022-01, with the labels that each got.

#128 fix: read the month correctly
  frontend/src/utils/date.js
Labels: ready for merge 🎉

#130 Css updates stylistics
  frontend/src/assets/stylesheets/base/_variables.sass
  frontend/src/assets/stylesheets/components/categories.sass
  frontend/src/assets/stylesheets/components/post.sass
  frontend/src/assets/stylesheets/components/social-media.sass
  frontend/src/assets/stylesheets/components/util-blocks.sass
  frontend/src/authenticated/UserProfile.js
  frontend/src/components/Categories.js
  frontend/src/components/CopyURL.js
  frontend/src/components/Footer.js
  frontend/src/components/Post.js
  frontend/src/components/PostCategories.js
  frontend/src/components/PostContent.js
  frontend/src/components/Reaction.js
  frontend/src/components/ReactionBar.js
  frontend/src/utils/categories/categories.js
Labels: ready for merge 🎉

#134 fix: conflict with copy of url
  frontend/src/components/PostContent.js
Labels: ready for merge 🎉

#132 Fix clear button in Search field
  .gitignore
  frontend/src/__tests__/components/Search.test.js
  frontend/src/components/Search.js
  frontend/src/tests/utils/renderWithStoreAndRouter.js
Labels: ready for merge 🎉, frontend

#140 Fix margin in post preview
  frontend/src/assets/stylesheets/components/post.sass
  frontend/src/authenticated/PostPreview.js
  frontend/src/components/PostCategories.js
Labels: frontend, design

#133 Query as param
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/components/Search.test.js
  frontend/src/components/Search.js
  frontend/src/components/SearchedPosts.js
  frontend/src/tests/utils/renderWithStoreAndRouter.js
  frontend/src/utils/customHooks/useSearchQuery.js
  frontend/src/utils/customHooks/useSearchedPosts.js
Labels: ready for merge 🎉, frontend

#144 Fix tags positin during post creation
  frontend/src/assets/stylesheets/components/post.sass
Labels: bug 🐛, frontend, design

#145 Visual Improvements
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/assets/stylesheets/application.sass
  frontend/src/assets/stylesheets/base/_mixins.sass
  frontend/src/assets/stylesheets/base/_variables.sass
  frontend/src/assets/stylesheets/components/add-post.sass
  frontend/src/assets/stylesheets/components/app.sass
  frontend/src/assets/stylesheets/components/categories.sass
  frontend/src/assets/stylesheets/components/navigator-button.sass
  frontend/src/assets/stylesheets/components/post-buttons.sass
  frontend/src/assets/stylesheets/components/post.sass
  frontend/src/assets/stylesheets/components/posts-list.sass
  frontend/src/assets/stylesheets/components/user.sass
  frontend/src/assets/stylesheets/components/util-blocks.sass
  frontend/src/authenticated/AddPost.js
  frontend/src/authenticated/AdminPanel.js
  frontend/src/authenticated/DeleteModal.js
  frontend/src/authenticated/DeletePost.js
  frontend/src/authenticated/EditPost.js
  frontend/src/authenticated/Logout.js
  frontend/src/components/AppHeader.js
  frontend/src/components/Categories.js
  frontend/src/components/CopyButton.js
  frontend/src/components/CopyURL.js
  frontend/src/components/NavigatorButton.js
  frontend/src/components/PostsList.js
  frontend/src/components/UI/Icon.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/styles/ReactSelectCustomStyles/customStyles.js
Labels: ready for merge 🎉
